@import "../vendor/susy/sass/susy";

$font-primary: "lato";
$font-secondary: "proxima-nova-condensed";

$susy: (
  columns: 12,
  gutters: 0.25,
  global-box-sizing: border-box,
  gutter-position: inside
);

$max-width: 1068px;

// =====================================
// Base Element Styles
// =====================================

body {
  font-size: 15px;
  font-family: $font-primary;
  background: #e4e7e9;
}

* {
  box-sizing: border-box;
}

a {
  $link-color: #767676; 
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 25%);
  }
}

button, .btn {
  $btn-gradient-one: rgb(29,147,221);
  $btn-gradient-two: rgb(22,142,218);
  $btn-gradient-three: rgb(93,182,232);

  border-radius: 4px;
  background-image: linear-gradient(to top, $btn-gradient-one 0%, $btn-gradient-two 10%, $btn-gradient-two 15%, $btn-gradient-three 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.17),inset 0 2px 0 0 rgba(255,255,255,0.12), inset 0 0 1px 0 rgba(0,0,0,0.7);
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: white;
    background-image: linear-gradient(to top, lighten($btn-gradient-one, 1%) 0%, lighten($btn-gradient-two, 2%) 10%, lighten($btn-gradient-two, 3%) 15%, lighten($btn-gradient-three, 8%) 100%);
  }

  &:focus {
    color: white;
    box-shadow: inset 0 0 4px 1px rgba(0,0,0,0.2), inset 0 0 1px 0 rgba(0,0,0,0.7);
    background: darken($btn-gradient-two, 5%);
  }
}

.icon {
  font-size: 24px;
}

.icon-circled {
  color: #728a4b;
  font-size: 32px;
  border-width: 2px;
  border-color: rgb(114, 138, 75);
  border-style: solid;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  display: inline-block;
}

// =====================================
// Header
// =====================================

.header-primary-container {
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 100%;
  z-index: 100;
}

.header-primary {
  @include container;
  max-width: $max-width;
  padding: 1.666666666% 0.83333%;

  > .brand {
    @include span(50%);
  }

  > .nav {
    @include span(50%);
    text-align: right;

    a { margin-left: 10px; }
  }
}

.brand-logo {
  float: left;
  display: block;
  width: 100%;
  max-width: 120px;
  margin-right: 10px;
  line-height: 48px;

  > img { width: 100%; }
}

.brand-slogan {
  float: left;
  display: block;
  line-height: 41px;
  font-size: 1.2em;
}

h2 {
  color: #737373;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  margin: 0;
  margin-top: 8px;
  font-size: 22px;
}
h4{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
h5 {
  color: #3a3a3a;
  font-size: 18px;
  margin: 0;
  padding-top: 20px;
}
p {
  font-size: 16px;
  color: #696969;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 10px;
}

// =====================================
// Hero units
// =====================================

.hero {
  width: 100%;
  max-width: $max-width;
  margin: 0px auto;
  position: relative;
  overflow: hidden;

  .hero-bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  h1 {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    background-size: contain;
    background-position: center;
    text-indent: -9999999999999em;
  }
}

.hero-giftright {
  h1 { 
    padding-bottom: 862/1118 * 100%;
    background-image: url(../images/mask-home.png);
  }
  .hero-bg { 
    padding-bottom: 862/1118 * 100%;
    background-image: url(../images/img-home.jpg);
  }
}

.hero-nevermiss {
  margin-top: -5%;
  h1 { 
    padding-bottom: 855/1129 * 100%;
    background-image: url(../images/mask-second.png);
  }
  .hero-bg { 
    padding-bottom: 855/1129 * 100%;
    background-image: url(../images/img-second.jpg);
  }
}

.hero-deserveit {
  h1 { 
    padding-bottom: 741/1129 * 100%;
    background-image: url(../images/mask-third.png);
  }
  .hero-bg { 
    padding-bottom: 741/1129 * 100%;
    background-image: url(../images/img-third.jpg);
  }
}

.hero-dothis {
  h1 { 
    padding-bottom: 743/1120 * 100%;
    background-image: url(../images/mask-fourth.png);
  }
  .hero-bg { 
    padding-bottom: 743/1120 * 100%;
    background-image: url(../images/img-fourth.jpg);
  }
}

.container {
  @include container();
  max-width: $max-width;
}

.container-after-hero {
  z-index: +1;
  position: relative;
}

.break-away {
  text-align: center;
  margin-top: -10%;
}

.section-header {
  margin: 0px auto;
  max-width: $max-width;
  text-align: center;
  padding-top: 10%;
  color: #828282;
  position: relative;
  z-index: +1;
}


.section-icon {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.08);
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  z-index: 1;
  border-radius: 4px;
  margin: 0px auto;

  .icon {
    color: white;
    text-shadow: 0.5px 0.866px 2px rgba(0, 0, 0, 0.11);
  }
}

.section-icon-green {
  background-image: linear-gradient(135deg, #73ad5e 0, #548a34 100%);
}

.section-icon-purple {
  background-image: linear-gradient(135deg, #79709a 0, #4f4977 100%); 

}

.section-icon-red {
  background-image: linear-gradient(135deg, #b85262 0, #972843 100%); 
}

.features {
  overflow: hidden;
  width: 100%;
  padding-top: 4%;
}

.feature {
  @include span(1 of 3);
  float: left;
  text-align: center;
}

.gradient-bar {
  padding: 40px;
  margin-top: 6%;

  color: rgba(255,255,255,0.9);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  
  p {
    color: rgba(255,255,255,0.9);
  }
  h4 {
    color: white;
    font-size: 22px;
  }

  .container {
    max-width: 690px;
  }
}

.gradient-bar-pricing {
  background-image: linear-gradient( 135deg, rgb(124,161,101) 0%, rgb(75,138,115) 60%, rgb(64,112,142) 100%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);

  .price-per-gift {
    @include span(1 of 4);
  }
    
  .text-unit {
    @include span(3 of 4);
    padding-left: 5%;
  }
}

.gradient-bar-story {
  background-image: linear-gradient( 135deg, rgb(74,58,75) 0%, rgb(74,67,88) 16%, rgb(73,75,101) 49%, rgb(78,104,137) 100%);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);


  .family-photo {
    @include span(214 of 712);

    img {
      width: 100%;
      border-style: solid;
      border-width: 3px;
      border-color: rgb(255, 255, 255);
      //border-radius: 50%;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .text-unit {
    @include span(498 of 712);
    padding-left: 5%;
  }

  p {
    color: #edeefd;
    opacity: 0.8;
  }

  .signature {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,0.09);
    font-size: 12px;
    line-height: 15px;
    color: #edeefd;

    b { font-size: 14px; color: #fff; }

    img {
      max-width: 130px;
      display: block;
    }
  }
}


.price-per-gift {
  border-radius: 2px;
  background-color: #e3ecef;
  background-image: linear-gradient( 90deg, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
  opacity: 0.902;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.18);
  padding: 16px;
  padding-bottom: 25px;
  height: 100%;
  text-align: center;
  font-size: 28px;
  color: #737373;
  text-shadow: none !important;

  span { display: block; }

  .amount {
    font-size: 56px;
    color: rgb(114, 138, 75);
    line-height: 1.2;
    font-weight: 100;
  }

  .unit {
    margin-top: -5px;
  }
}

.frame { width: 100%; height: 200px; padding: 0;   margin-top: 5%; overflow: hidden; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; display: flex;   justify-content: space-between;}
.frame .slidee li { 
   padding: 0; width: 300px; height: 100%;
}


.nevermiss {
  h3 {
    margin-bottom: -16%;
  }
  h2 {
    margin-top: -15%;
  }
}

.giftright {
  h2 {
    color: #3a3a3a;
  }
}

.deserveit {
  .section-header h3 {
    margin-bottom: -14%;
  }

  .break-away {
    margin-top: -1%;
  }
}

.dothis {
  text-align: center;
  .break-away {
    margin-top: -4%;
  }
  .btn {
    margin: 0px auto;

  }
}

.footer-primary-container {
  margin-top: 100px;
  background: white;
  padding: 40px 0 30px 0;
}

.footer-primary {
  @include container;
  max-width: $max-width;
  line-height: 32px;
  vertical-align: top;
  color: #989898;

  .icon {
    color: #4daee4;
    margin-right: 10px;
  }

  .colophon {
    float: right;
  }
}